
<a href="#">all</a>
{{#each tags}}
  <a href="#{{this}}" {{#if_eq this ../query }}class="on"{{/if_eq}}>#{{this}}</a>

{{/each}}

<a href="https://www.instagram.com/the.changing.room/" class="insta" >instagram <img src="./assets/images/insta.png"></a>